.projectContentContainer h3 {
  margin-top: 40px;
  color: #212121;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 65px */
  text-align: center;
  margin-bottom: 10px;
}

.projectContentContainer p {
  color: #212121;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 28.6px */
  text-align: center;
}


.projectCategory {
  max-width: 558px;
}

.imageContainer {
  max-height: 738px;
  margin-top: 20px;
  margin-bottom: 55px !important;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-bottom: 130px;
}

.buttonContainer button {
  width: 329px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s;
}

.btn-1 {
  background: linear-gradient(90deg, #31a8ff 0%, #0085ff 100%);
  color: #fff;
}

.btn-2:hover {
  border-color: #0085ff;
  color: #0085ff;
}

.btn-2{
  border: 1px solid #dcdce1;
  background: #fff;
  color: #666770;
}

@media only screen and (max-width: 688px) {
  .buttonContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin-bottom: 130px;
  }

  .projectContentContainer h3 {
    font-size: 35px;
  }

  .projectContentContainer p {
    font-size: 14px;
  }

  .imageContainer {
    margin-top: 30px;
    margin-bottom: 24px !important;
  }

  .buttonContainer button:nth-child(1) {
    font-size: 16px;
  }

  .buttonContainer button:nth-child(2) {
    font-size: 16px;
  }

  .buttonContainer {
    margin-bottom: 60px;
  }
}