.footerContainer h3 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-top: 73px;
  padding-bottom: 20px;
}

.navLinkContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.navLinkContainer a {
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.navLinkContainer a:hover {
  color: #0085ff;
}

.policyContainer {
  display: flex;
  align-items: center;
  gap: 28px;
}

.footerDot {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #bebebe;
}

.copyRightsContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
}

.footerLine {
  margin-bottom: 20px;
  margin-top: 44px;
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
}
@media only screen and (max-width: 688px) {
  .copyRightsContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
